@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #222831;
  --foreground-hex: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--background-hex);
  color: var(--foreground-hex);
}

.meCard {
  min-width: 300px;
  max-width: 500px;
  border-radius: 70px 70px 0 70px;
}

@media (max-width: 768px) {
  .meCard {
    border-radius: 20px;
  }
}
